html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Gill Sans", sans;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  display: block;
  color: white;
  text-decoration: none;
}

.title {
  font-size: 50pt;
}

.icons {
  padding: 0;
  margin: 0;
  list-style: none;
}

.icons a, a.source {
  transition: all .2s ease-in-out;
}

.icons a:hover, a.source:hover {
  color: violet;
  text-decoration: none;
}

.icon {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.icon_description {
  display: block;
  font-family: monospace;
  font-size: 9pt;
  text-align: center;
  width: 100%;
}

.content {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

.colorful {
  /* http://www.colorzilla.com/gradient-editor/ */
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(168,104,252,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(168,104,252,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(168,104,252,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(168,104,252,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(168,104,252,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(168,104,252,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a868fc',GradientType=0 ); /* IE6-9 */
}

.invis {
  display: none;
}

.title {
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}

.source, .pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 1em;
  text-align: center;
}

.source::before {
  content: "Source: ";
}

.dryguy_wrapper {
  bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  position: relative;
  text-align: right;
  width: 200px;
}

.img-responsive {
  height: auto;
  width: 60%;
}

.icon-img {
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.icon-img img {
  position: absolute;
  transition: opacity .2s ease-in-out;
}

.icon-img img.violet { opacity: 0; }
a.hovered .icon-img img.violet { opacity: 1; }

.icon-img img.white { opacity: 1; }
a.hovered .icon-img img.white { opacity: 0; }
