@media screen and (min-width: 800px) {
  .dryguy_wrapper {
    position: absolute;
    top: 1em;
    right: 1em;
    max-height: 70px;
    padding: 0;
  }

  .hamburger {
    width: 50px;
    height: 50px;
  }

  .hamburger span {
    width: 30px;
  }

  .menu-panel {
    width: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .icon {
    padding-top: 0;
  }

  .menu-icons {
    display: block;
  }

  .menu-icons .icon {
    padding: 12px 10px;
  }

  .title {
    font-size: 50pt;
  }

  .title .violet-filter {
    font-size: 30pt;
  }

  .title a:hover {
    color: violet;

    /* I can't get transition to work on emjoi colorization, so disable it. */
    /* transition: all .2s ease-in-out; */
  }

  /* add colorization to emjoi on hover */
  .title:hover .violet-filter {
    background: #000;
    position: relative;
    display: inline-block;
  }
  .title:hover .violet-filter span {
    filter: brightness(1);
  }
  .title:hover .violet-filter:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: violet;
    mix-blend-mode: darken;
    z-index: 1;
  }
}
